.journalentry {
    width: 400px;
    background-color:white;
    padding: 5px;
    margin-top: 20px;
    text-align:left;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-decoration: none;
}
