@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h2, li {
 font-family: 'Nunito', sans-serif;
}

body {
    background: #F5F6FA 0% 0% no-repeat padding-box;
}

a {
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#Selected{
background: #2B7A78 0% 0% no-repeat padding-box;
border-radius: 12px 0px 0px 12px;
opacity: 1;
color:White;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#nav *{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#box {
  width: 400px;
  background-color:white;
  padding: 0px;
  margin: 0px;
  text-align:center;
}

.sidebar {
    background: #D1E8E2;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.sidebar ul li{
  padding: 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

#user {
  display:inline;
}

#focusmode {
  display:inline;
}

#main {
    padding-left:250px;
    display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
    
}

#footer {
    padding-left:250px;
}
